<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="navbar bg-base-100 shadow-white shadow-sm p-3">
      <div class="flex justify-between w-full m-2">
        <a class="btn btn-ghost text-2xl font-semibold" href="/">Todo</a>

        <input
          class="border border-white rounded text-center text-lg"
          type="text"
          placeholder="Search"
          class="input input-bordered w-24 md:w-auto"
        />
      </div>
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
