{% extends 'base.html' %} {% block content %}
<div class="max-w-5xl mx-auto p-2">
  <form class="pt-2 my-3" method="post" action="/">
    <fieldset class="fieldset">
      <legend class="fieldset-legend font-semibold">Add Task?</legend>
      <input
        type="text"
        class="input border rounded my-2 p-2 w-full"
        placeholder="Type here"
        name="title"
      />
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset-legend font-semibold">Add Description</legend>
      <input
        type="text"
        class="input border p-2 rounded my-2 w-full"
        placeholder="Type here"
        name="desc"
      />
    </fieldset>
    <button
      class="transition hover:scale-90 cursor-pointer bg-blue-500 rounded p-2 font-semibold"
      type="submit"
    >
      Submit
    </button>
  </form>
  <div class="rounded-box border-base-content/5 bg-base-100">
    <h1 class="font-semibold text-3xl">Your Todos</h1>
    <table class="table my-3 w-full">
      <!-- head -->
      <thead class="bg-slate-200">
        <tr>
          <th>Sno</th>
          <th>Title</th>
          <th>Desc</th>
          <th>created_at</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for i in data  %}
         
        <tr>
          <th>{{loop.index}}</th>
          <td>{{i.title}}</td>
          <td>{{i.desc}}</td>
          <td>{{i.created_At}}</td>
        </tr>
        {% endfor %}
   
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
